extends ../jade/base

block append styles
  +style('ext.css')
block append scripts
  +script('account.js')

block content
  section#account
    h4 Logged in as #[span#labelLogin]

    form(action='/logout.js')
      input.button.submit.careful#logoutJsButton(type='button',
        value='Logout', onclick='logout()', style='display: none')
      input.button.submit.careful#logoutFormButton(type='submit',
          value='Logout')

    a#globalManagementLink(href='/globalManagement.js') Global management

  section#accountSettings
    h1 Settings
    form(action='/changeAccountSettings.js', method='post',
      enctype='multipart/form-data')
        fieldset
          label(for='emailField') E-mail
            input#emailField(type='email', name='email',
            placeholder='Email')
          label(for='checkboxAlwaysSign') Always use role signature
            input#checkboxAlwaysSign(type='checkbox', name='alwaysSignRole')
            +help('Posting', 'eg: Volunteer')
          input.button.submit#saveFormButton(type='submit', value='Save')
          input.button.submit#saveJsButton(type='button', value='Save',
            onclick='save()', style='display: none;')

    h2 Password change
    form(action='/changeAccountPassword.js', method='post',
      enctype='multipart/form-data')
      fieldset
        input#fieldPassword(type='password', name='password', required)
        label(for='fieldNewPassword') New password
          input#fieldNewPassword(type='password', name='newPassword',
          required)
        label(for='fieldConfirmation') Confirm new password
          input#fieldConfirmation(type='password', name='confirmation',
          required)
        input.button.submit#passwordFormButton(type='submit',
          value='Change password')

  section#boardCreationDiv
    h1 Create board
    form(action='/createBoard.js', enctype='multipart/form-data',
      method='post')
      fieldset
        label(for='newBoardFieldUri', title='[a-b]') Board URI
          input#newBoardFieldUri(type='text', name='boardUri',
          placeholder='URI', required)
        label(for='newBoardFieldName') Board name
          input#newBoardFieldName(type='text', name='boardName',
          placeholder='Name', required)
        label(for='newBoardFieldDescription') Board description:
          input#newBoardFieldDescription(type='text',
            name='boardDescription', placeholder='Description', required)
        input.button.submit#newBoardJsButton(type='button',
          onclick='createBoard()', style='display: none',
          value='Create board')
        input.button.submit#newBoardFormButton(type='submit',
          value='Create board')

  section#ownedBoards
    h1 Owned boards
    #boardsDiv
