extends ../jade/base

block headerTitle
  +title(l.titBanned)

block content
  p.
    #{l.guiBannedMessage.YouAreBanned}
    #{l.guiBannedMessage.fromBoard} #[span#boardLabel]
    #{l.guiBannedMessage.until}
    #[span#expirationLabel].
  p.
    #{l.guiBannedReason}: #[span#reasonLabel]
    #[br]
    #{l.guiBanID}: #[span#idLabel]
