extends ../jade/base

block pageId
  - var pageId = 'banned';

block headerTitle
  +title(l.titBanned)

block append bottomScripts
  +script('ext.js')

block content
  p.
    #{l.guiBannedMessage.YouAreBanned}
    #{l.guiBannedMessage.fromBoard} #[span#boardLabel]
    #{l.guiBannedMessage.until}
    #[span#expirationLabel].
  p.
    #{l.guiBannedReason}: #[span#reasonLabel]
    #[br]
    #{l.guiBanID}: #[span#idLabel]
