extends ../jade/base.jade

block headerTitle
  +title(l.titBannerManagement)

block content
  section
    h3 #{l.titNewBanner}
    form(action='/createBanner.js', method='post',
      enctype='multipart/form-data')
      fieldset
        input#boardIdentifier(type='hidden', name='boardUri')
        input#files(type='file', name='files')
        input.button.submit#addFormButton(type='submit',
          value=l.guiAddBanner)
        input.button.submit#addJsButton(type='button',
          value=l.guiAddBanner, onclick='addBanner()',
          style='display: none')

  section
    h3 #{l.titExistingBanners}
    div#bannersDiv
