extends ../jade/base.jade

block append scripts
  +script('board.js')
  +script('posting.js')

block headerLogo
  img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription', '.')

block append userMenu
  +userMenuEntry
    a#linkManagement Manage Board

block pageMenu
  +pageMenuEntry
    a(href='catalog.html') Catalog

block content
  include ../jade/createThread
  #divPostings
  label(for='reportFieldReason') Reason
    input#reportFieldReason(type='text', name='reason',
      placeholder='Reason')
  label(for='deletionFieldPasword') Password
    input#deletionFieldPassword(type='password', name='password')
  label(for='checkboxGlobal') Global
    input#checkboxGlobal(type='checkbox', name='global')
  input.button.submit#deleteFormButton(type='submit', value='Delete',
    name='action')
  input.button.submit#deleteJsButton(type='button',
    onclick='deletePosts()', value='Delete', style='display: none;')
  input.button.submit#reportFormButton(type='submit', value='Report',
    name='action')
  input.button.submit#reportJsButton(type='button',
    onclick='reportPosts()', value='Report', style='display: none;')

  #divPages
