extends ../jade/base

block pageId
  - var pageId = 'board';

block headerLogo
  img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription', '.')

block append userMenu
  +userMenuEntry
    a#linkManagement Manage Board

block pageMenu
  +pageMenuEntry
    a(href='catalog.html') #{l.titCatalog}
  +pageMenuEntry
    a#linkModeration #{l.titBoardActions}

block prepend middle
  #secondaryHeader
    include ../jade/createThread

block content
  a.anchor.postsTopAnchor(name='top')
  main#divThreads
  a.anchor.postsBottomAnchor(name='bottom')

  .boardNav
    a#linkPrevious.fa.fa-chevron-left
    nav#divPages
    a#linkNext.fa.fa-chevron-right

  .multiReport
    label(for='reportFieldReason') #{l.guiReportReason}
    input#reportFieldReason(type='text', name='reason',
        placeholder=l.phReportReason)
    label(for='deletionFieldPasword') #{l.guiPassword}
    input#deletionFieldPassword(type='password', name='password')
    label(for='checkboxGlobal') #{l.guiGlobalLabel}
    input#checkboxGlobal(type='checkbox', name='global')
    input.button.submit#deleteFormButton(type='submit', value=l.guiDelete,
        name='action')
    input.button.submit#deleteJsButton(type='button',
        onclick='deletePosts()', value=l.guiDelete, style='display: none;')
    input.button.submit#reportFormButton(type='submit', value=l.guiReport,
        name='action')
    input.button.submit#reportJsButton(type='button',
        onclick='reportPosts()', value=l.guiReport, style='display: none;')
