extends ../jade/base

block append bottomScripts
  +script('ext.js')

block append styles
  +style('ext.css')

block headerTitle
  +title('#boardLabel')

block content
  section#ownerControlDiv
    h2 #{l.titAddVolunteer}
    form.form.addVolunteer(action='/setVolunteer.js',
        method='post', enctype='multipart/form-data')
      fieldset
        .field.userLogin
          label(for='addVolunteerFieldLogin') #{l.guiUserLogin}:
          input#addVolunteerFieldLogin(type='text', name='login', required)
        input(type='hidden', name='add', value='true')
        input#addVolunteerBoardIdentifier(type='hidden', name='boardUri')
        .field.addVolunteer
          input.button.submit#addVolunteerJsButton(type='button',
              onclick='addVolunteer()', value=l.guiAddVolunteer,
              style='display: none;')
          input.button.submit#addVolunteerFormButton(type='submit',
            value=l.guiAddVolunter)

    h2 #{l.titOwnershipTransfer}
    form.form.transferBoardOwnership(action='/transferBoardOwnership.js',
        method='post', enctype='multipart/form-data')
      fieldset
        .field.userLogin
          label(for='transferBoardFieldLogin') #{l.guiUserLogin}:
          input#transferBoardFieldLogin(type='text', name='login', required)
        input#transferBoardIdentifier(type='hidden', name='boardUri')
        input.button.submit#transferBoardJsButton(type='button',
          onclick='transferBoard()', value=l.guiTransferBoardOwnership,
          style='display: none;')
        input.button.submit#transferBoardFormButton(type='submit',
          value=l.guiTransferBoardOwnership)

    h2 #{l.titDeleteBoard}
    form.form.deleteBoard(action='/deleteBoard.js', method='post',
        enctype='multipart/form-data')
      fieldset
        input#deletionIdentifier(name='boardUri', type='hidden')
        input.button.submit.careful#deleteBoardFormButton(type='submit',
            value=l.guiDeleteBoard)
        input.button.submit.careful#deleteBoardJsButton(type='button',
            onclick='deleteBoard()', value=l.guiDeleteBoard,
            style='display: none;')

    h2 #{l.titCustomCSS}
    form.form.setCustomCss(action='/setCustomCss.js', method='post',
        enctype='multipart/form-data')
      input#customCssIdentifier(type='hidden', name='boardUri')
      .files
        input#files(type='files', name='files')
      input#cssFormButton(type='submit', value=l.guiUploadCustomCSS)
      input#cssJsButton(type='button', value=l.guiUploadCustomCSS,
          onclick='setCss()', style='display: none')
      +help('', l.infoCustomCSS)

    h2 #{l.titVolunteers}
    section#volunteersDiv

    h2 #{l.titBoardSettings}
    form.form.setBoardSettings(action='/setBoardSettings.js',
        method='post', enctype='multipart/form-data')
      fieldset
        input#boardSettingsIdentifier(type='hidden', name='boardUri')
        .field.name
          label(for='boardName') #{l.guiBoardName}
          input#boardNameField(type='text', name='boardName')
        .field.description
          label(for='boardDescription') #{l.guiBoardDescription}
          input#boardDescriptionField(type='text', name='boardDescription')
        .field.AnonymousName
          label(for='anonymousNameField') #{l.guiDefaultName}
          input#anonymousNameField(type='text', name='anonymousName',
              placeholder=l.phDefaultName)
        .field.disableId
          label(for='disableIds') #{l.guiDisableThreadWiseIDs}
          input#disableIdsCheckbox(type='checkbox', name='disableIds')
        .field.allowCode
          label(for='allowCodeCheckbox') #{l.guiAllowCodeTags}
          input#allowCodeCheckbox(type='checkbox', name='allowCode')
        .field.disableCaptcha
          label(for='disableCaptcha') #{l.guiDisableCaptcha}
          input#disableCaptchaCheckbox(type='checkbox',
              name='disableCaptcha')
        .field.forceAnonymity
          label(for='forceAnonymity') #{l.guiForceAnonymity}
          input#forceAnonymityCheckbox(type='checkbox',
              name='forceAnonymity')
          +help(l.helpForceAnonymity, l.infoForceAnonymity) 

        input.button.submit#saveSettingsJsButton(type='button',
            value=l.guiSave, onclick='saveSettings()',
            style='display: none')
        input.button.submit#saveSettingsFormButton(type='submit',
            value=l.guiSave)

    nav: ul
      li: a#bannerManagementLink #{l.titBanners}
      li: a#filterManagementLink #{l.titFilters}
      li: a#ruleManagementLink #{l.titRules}

  section#reportsAndBanslinks
    nav: ul
      li: a#closedReportsLink #{l.titClosedReports}
      li: a#bansLink #{l.titBans}
      li: a#rangeBansLink #{l.titIPRangeBans}
      li: a#hashBansLink #{l.titFileBans}
      li: h3 #{l.titOpenReports}:
        #reportDiv

block pageId
  +pageId('boardManagement')
