extends ../jade/base

block headerTitle
  +title('#labelTitle', l.titBoardModeration)

block append bottomScripts
  +script('ext.js')

block append pageMenu
  +pageMenuEntry
    a(href=baseStaticUrl+'/moderation.html') Moderation help

block content
  section
    | #{l.guiBoardOwner}: #[span#labelOwner]

    section#transferForm
      h1 #{l.titOwnershipTransfer}
      form(action='/transferBoardOwnerShip.js', method='post',
          enctype='multipart/form-data')
        input#boardTransferIdentifier(type='hidden', name='boardUri')
        label(for='fieldTransferLogin') #{l.guiUserLogin}
        input#fieldTransferLogin(type='text', name='userLogin')
        input.button.submit#transferFormButton.careful(type='submit',
            value=l.guiTransferBoardOwnership)
        input.button.submit#transferJsButton.careful(type='button',
            onclick='transferboard()', value=l.guiTransferBoardOwnership,
            style='display: none;')
        

    section#deleteForm
      h1 #{l.titDeleteBoard}
      form(action='/deleteBoard.js', method='post',
          enctype='multipart/form-data')
        input#boardDeletionIdentifier(type='hidden', name='boardUri')
        input#deleteFormButton.button.submit.careful(type='submit',
            value=l.guiDeleteBoard)
        input#deleteJsButton.button.submit.careful(type='button',
            value=l.guiDeleteBoard, onclick='deleteBoard()',
            style='display: none;')

block pageId
  +pageId('boardModeration')
