extends ../jade/base

block append styles
  +style('ext.css')

block headerTitle
  +title('#boardLabel')

block content
  section#ownerControlDiv
    h2 Add volunteer
    form(action='/setVolunteer.js', method='post',
        enctype='multipart/form-data')
      fieldset
        label(for='addVolunteerFieldLogin') User login:
          input#addVolunteerFieldLogin(type='text', name='login', required)
        input(type='hidden', name='add', value='true')
        input#addVolunteerBoardIdentifier(type='hidden', name='boardUri')
        input.button.submit#addVolunteerJsButton(type='button',
          onclick='addVolunteer()', value='Add volunteer',
          style='display: none;')
        input.button.submit#addVolunteerFormButton(type='submit',
          value='Add volunteer')

    h2 Ownership transfer
    form(action='/transferBoardOwnership.js', method='post',
      enctype='multipart/form-data')
      fieldset
        label(for='transferBoardFieldLogin') User login:
          input#transferBoardFieldLogin(type='text', name='login', required)
        input#transferBoardIdentifier(type='hidden', name='boardUri')
        input.button.submit#transferBoardJsButton(type='button',
          onclick='transferBoard()', value='Transfer board',
          style='display: none;')
        input.button.submit#transferBoardFormButton(type='submit',
          value='Transfer board')

    h2 Delete board
    form(method='post', action='/deleteBoard.js',
      enctype='multipart/form-data')
      fieldset
        input#deletionIdentifier(name='boardUri', type='hidden')
        input.button.submit#deleteBoardFormButton(type='submit',
          value='Delete board')
        input.button.submit#deleteBoardJsButton(type='button',
          onclick='deleteBoard()', value='Delete board',
          style='display: none;')

    h2 Volunteers
    section#volunteersDiv

    h2 Settings
    form(action='/setBoardSettings.js', method='post',
      enctype='multipart/form-data')
      fieldset
        input#boardSettingsIdentifier(type='hidden', name='boardUri')
        label(for='boardName') Board name
          input#boardNameField(type='text', name='boardName')
        label(for='boardDescription') Board description
          input#boardDescriptionField(type='text', name='boardDescription')
        label(for='anonymousNameField') Default name
          input#anonymousNameField(type='text', name='anonymousName',
              placeholder='Anonymous')
        label(for='disableIds') Disable thread-wise IDs
          input#disableIdsCheckbox(type='checkbox', name='disableIds')
        label(for='disableCaptcha') Disable captcha
          input#disableCaptchaCheckbox(type='checkbox',
          name='disableCaptcha')
        label(for='forceAnonymity')
          span(title='No name field when posting') Force anonymity
          input#forceAnonymityCheckbox(type='checkbox',
            name='forceAnonymity')
          input.button.submit#saveSettingsJsButton(type='button',
            value='Save', onclick='saveSettings()', style='display: none')
          input.button.submit#saveSettingsFormButton(type='submit',
            value='Save')

    nav: ul
      li: a#bannerManagementLink Banners
      li: a#filterManagementLink Filters

  section#reports
    nav: ul
      li: a#closedReportsLink Closed reports
      li: a#bansLink Bans
      li: h4 Open reports:
        #reportDiv


block append scripts
  +script('reports.js')
  +script('boardManagement.js')
