extends ../jade/base

block headerTitle
  +title(l.titFilterManagement)

block append bottomScripts
  +script('ext.js')

block content
  section#newFilter
    h1 #{l.titNewFilter}
    form(action='/createFilter.js', method='post',
        enctype='multipart/form-data')
      input(type='hidden', name='boardUri', id='boardIdentifier')
      label(for='fieldOriginalTerm') #{l.guiFilterOriginalTerm}
        input#fieldOriginalTerm(type='text', name='originalTerm')
      label(for='fieldReplacementTerm') #{l.guiFilterReplacementTerm}
        input#fieldReplacementTerm(type='text', name='replacementTerm')
      input#addFormButton(type='submit', value=l.guiNewFilter)
      input#addJsButton(type='button', onclick='addFilter()',
          value=l.guiNewFilter, style='display: none;')

  section#existingFilters
    h1 #{l.titExistingFilters}
    div#divFilters

block pageId
  +pageId('filterManagement')
