extends ../jade/base

block headerTitle
  +title(l.titFilterManagement)

block append bottomScripts
  +script('ext.js')

block content
  section#newFilter
    h1 #{l.titNewFilter}
    form.form.createFilter(action='/createFilter.js',
        method='post', enctype='multipart/form-data')
      input(type='hidden', name='boardUri', id='boardIdentifier')
      .field.originalTerm
        label(for='fieldOriginalTerm') #{l.guiFilterOriginalTerm}
        input#fieldOriginalTerm(type='text', name='originalTerm')
      .field.replacementTerm
        label(for='fieldReplacementTerm') #{l.guiFilterReplacementTerm}
        input#fieldReplacementTerm(type='text', name='replacementTerm')
      input.button.submit#addFormButton(type='submit', value=l.guiNewFilter)
      input.button.submit#addJsButton(type='button', onclick='addFilter()',
          value=l.guiNewFilter, style='display: none;')

  section#existingFilters
    h1 #{l.titExistingFilters}
    div#divFilters

block pageId
  +pageId('filterManagement')
