extends ../jade/base

block append bottomScripts
  +script('ext.js')
block append styles
  +script('ext.css')

block headerTitle
  +title('#userLabel')

block append pageMenu
  +pageMenuEntry
    a(href=baseStaticUrl+'/moderation.html') Moderation help

block content
  form#addStaffForm(method='post', enctype='multipart/form-data',
    action='/setGlobalRole.js')
    label(for='fieldLogin') #{l.guiUserLogin}: 
    input#fieldLogin(type='text', name='login',
        placeholder=l.phUserLogin, required)
    label(for='newStaffCombo') #{l.guiRole}:
    select#newStaffCombo(name='role', required)
    input.button.submit#addJsButton(type='button', onclick='addUser()',
        value=l.guiAddUser, style='display: none;')
    input.button.submit#addFormButton(type='submit',
        value=l.guiAddUser)
  div#divStaff
  ul
    li: a#bansLink(href='/bans.js') #{l.titBans}
    li: a#rangeBansLink(href='/rangeBans.js') #{l.titIPRangeBans}
    li: a#hashBansLink(href='/hashBans.js') #{l.titFileBans}
    li: a(href='/closedReports.js') #{l.titClosedReports}
      div#reportDiv

block pageId
  +pageId('globalManagement')
