extends ../jade/base

block pageId
  - var pageId = 'hashBans';

block headerTitle
  +title(l.titFileBans)

block append bottomScripts
  +script('ext.js')

- var exampleHash = '9e107d9d372bb6826bd81d3542a419d6'; 

block content
  section
    form.form.hashBans#placeHashBanForm(action='/placeHashBan.js',
        method='post', enctype='multipart/form-data')
      .field.hash
        label(for='hashField') #{l.guiHashBanLabel}:
        input#hashField(type='text', name='hash', placeholder=exampleHash)
      input#boardIdentifier(type='hidden', name='boardUri')
      input.button.submit#createFormButton(type='submit',
          value=l.guiPlaceHashBan)
      input.button.submit#createJsButton(type='button',
          value=l.guiPlaceHashBan, onclick='placeHashBan()',
          style='display: none;')

  section#hashBansDiv
