extends ../jade/base

block pageId
  - var pageId = 'logs';

block append bottomScripts
  +script('ext.js')

block append headerTitle
  +title('home', l.titLogs)

block content
  section#logSearch
    form(action='logs.js', method='get')
      fieldset
        .field
          label(for='checkboxExcludeGlobals')
            | #{l.guiSearchExcludeGlobalEntries}:
          input#checkboxExcludeGlobals(type='checkbox',
              name='excludeGlobals')
        .field
          label(for='fieldBoard')= l.guiSearchBoard+': '
          | /
          input#fieldBoard(type='text', name='boardUri', placeholder='uri')
          | /
        .field
          label(for='fieldUser') #{l.guiSearchUser}:
          input#fieldUser(type='text', name='user')
        .field
          label(for='fieldAfter') #{l.guiSearchOnlyBefore}:
          input#fieldAfter(type='text', name='after')
        .field
          label(for='fieldBefore') #{l.guiSearchOnlyAfter}:
          input#fieldBefore(type='text', name='before')
        .field
          label(for='comboboxType') #{l.guiSearchType}:
          select#comboboxType(name='type')
      input(type='submit', value=l.guiSearch)

  section#divLogs
  section#divPages
