extends ../jade/bare

block pageId
  - var pageId = 'noCookieCaptcha';

block title
  | #{l.titNoCookieCaptcha}

block append styles
  +style('ext.css')

block middle
  div#divSolvedCaptcha
    p.
      #[strong #{l.guiCaptchaSolved}.] #[br]
      #{l.guiInputThisIDMessage}: #[code: span#labelCaptchaId]

  p #{l.guiNoCookieCaptchaWelcomeMessage}
  img#imageCaptcha
  form.form.noCookieCaptcha(action='/solveCaptcha.js', method='post',
      enctype='multipart/form-data')
    input#inputCaptchaId(type='hidden', name='captchaId')
    .field.captchaAnswer
      label(for='captchaAnswer') #{l.guiCaptchaAnswer}:
      input(type='text', name='answer', required, autocomplete='off')
    input.button.submit(type='submit', value=l.guiSubmitCaptchaAnswer)
