extends ../jade/bare

block title
  | #{l.titNoCookieCaptcha}

block append styles
  +style('ext.css')

block middle
  div#divSolvedCaptcha
    p.
      #[strong #{l.guiCaptchaSolved}.] #[br]
      #{l.guiInputThisIDMessage}: #[code: span#labelCaptchaId]

  p #{l.guiNoCookieCaptchaWelcomeMessage}
  img#imageCaptcha
  form(action='/solveCaptcha.js', method='post',
    enctype='multipart/form-data')
    input#inputCaptchaId(type='hidden', name='captchaId')
    label(for='captchaAnswer') #{l.guiCaptchaAnswer}
    input(type='text', name='answer', required)
    input(type='submit', value=l.guiSubmitCaptchaAnswer)
