extends ../jade/base

block pageId
  - var pageId = 'rangeBans';

block append bottomScripts
  +script('ext.js')

block headerTitle
  +title(l.titIPRangeBans)

block content
  section#placeRangeBans
    form.form.rangeBans(action='/placeRangeBan.js', method='post',
        enctype='multipart/form-data')
      .field.range
        label(for='rangeField') #{l.guiIPRangeBanLabel}
        input#rangeField(type='text', name='range',
            placeholder=l.phIPRangeBan)
        +help(l.helpIPRangeBan, l.infoIPRangeBan)
      input#boardIdentifier(type='hidden', name='boardUri')
      input.button.submit#createFormButton.button.submit(type='submit',
          value=l.guiPlaceIPRangeBan)
      input.button.submit#createJsButton.button.submit(type='button',
          value=l.guiPlaceIPRangeBan, onclick='placeRangeBan()',
          style='display: none;')

  section#rangeBansList
    ul#rangeBansDiv
