extends ../jade/base

block append bottomScripts
  +script('ext.js')

block headerTitle
  +title(l.titIPRangeBans)

block content
  section#placeRangeBans
    form(action='/placeRangeBan.js', method='post',
        enctype='multipart/form-data')
      label(for='rangeField') #{l.guiIPRangeBanLabel}
        +help(l.helpIPRangeBan, l.infoIPRangeBan)
      input#rangeField(type='text', name='range', placeholder=l.phIPRangeBan)
      input#boardIdentifier(type='hidden', name='boardUri')
      input#createFormButton.button.submit(type='submit',
          value=l.guiPlaceIPRangeBan)
      input#createJsButton.button.submit(type='button',
          value=l.guiPlaceIPRangeBan, onclick='placeRangeBan()',
          style='display: none;')

  section#rangeBansList
    ul#rangeBansDiv

block pageId
  +pageId('rangeBans')
