extends ../jade/base

- var pageId = 'thread';

block headerLogo
    img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription', '..')

block append userMenu
  +userMenuEntry
    a#linkManagement #{l.guiManageBoard}

block pageMenu
  +pageMenuEntry
    a(href='../catalog.html') #{l.titCatalog}
  +pageMenuEntry
    a#linkMod #{l.guiModerateThread}

block prepend middle
  include ../jade/replyThread

block content
  #divControls
    form(action='/changeThreadSettings.js', method='post',
        enctype='multipart/form-data')
      fieldset
        label(for='checkboxLock') #{l.guiLockAction}
        input#checkboxLock(type='checkbox', name='lock')
        label(for='checkboxPin') #{l.guiPinAction}
        input#checkboxPin(type='checkbox', name='pin')
        label(for='checkboxCyclic') #{l.guiCylicAction}
        input#checkboxCyclic(type='checkbox', name='cyclic')
        input#controlBoardIdentifier(type='hidden', name='boardUri')
        input#controlThreadIdentifier(type='hidden', name='threadId')
      input#settingsFormButton(type='submit', value=l.guiSave)
      button#settingsJsButton(type='button',  style='display: none;'
          onclick='saveThreadSettings()', value=l.guiSave)

  form(method='post', action='../../contentActions.js',
      enctype='multipart/form-data')
    main#divThreads

    fieldset.divRefresh(style='diplay: none;')
      label(for='refreshCheckbox')
        | #{l.guiAutoRefreshLabel} #[span#labelRefresh]
      input#refreshCheckbox(type='checkbox', checked,
          onchange='changeRefresh()')
      input#refreshButton(type='button', onclick='refreshPosts(true)',
          value=l.guiRefreshThread)
    fieldset.contentAction
      label(for='reportFieldReason') #{l.guiReportReason}
      input#reportFieldReason(type='text', name='reason',
          placeholder=l.phReportReason)
      fieldset#divBanInput
        label(for='fieldExpiration') #{l.guiExpiration}
        input#fieldExpiration(type='date', name='expiration',
            placeholder=l.phExpiration, required)
        label(for='fieldBanMessage') #{l.guiBanMessage}
        input#fieldBanMessage(type='text', name='banMessage')
      label(for='deletionFieldPassword') #{l.guiPassword}
      input#deletionFieldPassword(type='password', name='password')
      label(for='checkboxGlobal') #{l.guiGlobalLabel}
      input#checkboxGlobal(type='checkbox', name='global')
      input.button.submit#deleteFormButton(type='submit',
          value=l.guiDelete, name='action')
      input.button.submit#deleteJsButton(type='button',
          value=l.guiDelete, onclick='deletePosts()',
          style='display: none;')
      input#inputBan.button.submit.careful(type='submit',
          value=l.guiBanAction, name='action')
      input#banJsButton.button.submit.careful(type='button', 
          value=l.guiBanAction, onclick='banPosts()',
          style='display: none;')
      input#reportFormButton.button.submit(type='submit',
          value=l.guiReportAction, name='action')
      input#reportJsButton.button.submit(type='button',
          value=l.guiReportAction, onclick='reportPosts()',
          style='display: none;')

block pageId
  +pageId(pageId)
