extends ../jade/base

block append scripts
  +script('thread.js')
  +script('posting.js')

block headerLogo
    img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription', '..')

block append userMenu
  +userMenuEntry
    a#linkManagement Manage Board
  +userMenuEntry
    a#linkMod Moderate thread

block pageMenu
  +pageMenuEntry
    a(href='../catalog.html') Catalog

block content
  include ../jade/replyThread.jade

  #divControls
    form(action='/threadControls.js', method='post',
      enctype='multipart/form-data')
      fieldset
        label(for='checkboxLock') Lock
          input#checkboxLock(name='lock', type='checkbox')
        label(for='checkboxPin') Pin
          input#checkboxPin(name='pin', type='checkbox')
        input#controlBoardIdentifier(type='hidden', name='boardUri')
        input#controlThreadIdentifier(type='hidden', name='threadId')
        input#lockFormButton.button.submit(type='submit',
          name='action', value='Lock')
        input#lockJsButton.button.submit(type='button',
          onclick='setLock()', value='Lock', style='display: none;')
        input#pinFormButton.button.submit(type='submit',
          name='action', value='Pin')
        input#pinJsButton.button.submit(type='button', onclick='setPin()',
          style='display: none;', value='Pin')

  form(method='post', action='../../contentActions.js',
    enctype='multipart/form-data')
    div#divPostings
    fieldset.divRefresh(style='diplay: none;')
      label(for='refreshCheckbox') Auto #[span#labelRefresh]
        input#refreshCheckbox( type='checkbox', checked,
          onchange='changeRefresh()')
      input#refreshButton(type='button', onclick='refreshPosts(true)',
        value='Refresh')
    fieldset.contentAction
      label(for='reportFieldReason') Reason
        input#reportFieldReason(type='text', name='reason',
          placeholder='Reason')
      fieldset#divBanInput
        label(for='fieldExpiration') Expiration
          input#fieldExpiration(type='date', name='expiration',
          placeholder='Expiration', required)
        label(for='fieldBanMessage') Ban message
          input#fieldBanMessage(type='text', name='banMessage')
      label(for='deletionFieldPassword') Password
        input#deletionFieldPassword(type='password', name='password')
      label(for='checkboxGlobal') Global
        input#checkboxGlobal(type='checkbox', name='global')
      input.button.submit#deleteFormButton(type='submit', value='Delete',
        name='action')
      input.button.submit#deleteJsButton(type='button',
        onclick='deletePosts()', value='Delete', style='display: none;')
      input#inputBan.button.submit.careful(type='submit', value='Ban',
        name='action')
      input#banJsButton.button.submit.careful(type='button', 
        onclick='banPosts()', value='Ban', style='display: none;')
      input#reportFormButton.button.submit(type='submit', value='Report',
        name='action')
      input#reportJsButton.button.submit(type='button',
        onclick='reportPosts()', value='Report', style='display: none;')
