extends ../jade/base

block append scripts
  +script('thread.js')
  +script('posting.js')

block prepend header
  #banner
    img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription')

block append userMenu
  +userMenuEntry
    a#linkManagement Manage Board
  +userMenuEntry
    a#linkMod Moderate thread

block pageMenu
  +pageMenuEntry
    a(href='../catalog.html') Catalog

block content
  include ../jade/replyThread.jade

  #divControls
    form(action='/threadControls.js', method='post',
      enctype='multipart/form-data')
      fieldset
        label(for='checkboxLock') Lock
          input#checkboxLock(name='lock', type='checkbox')
        label(for='checkboxPin') Pin
          input#checkboxPin(name='pin', type='checkbox')
        input#controlBoardIdentifier(type='hidden', name='boardUri')
        input#controlThreadIdentifier(type='hidden', name='threadId')
        input#lockFormButton(type='submit', name='action', value='Lock')
        input#lockJsButton(type='button', onclick='setLock()',
          style='display: none;', value='Lock')
        input#pinFormButton(name='action', type='submit', value='Pin')
        input#pinJsButton(type='button', onclick='setPin()',
          style='display: none;', value='Pin')

  form(method='post', action='../../contentActions.js',
    enctype='multipart/form-data')
    fieldset
      div#divPostings
        label(for='reportFieldReason') Reason
          input#reportFieldReason(type='text', name='reason')
      div#divExpiration
        label(for='fieldExpiration') Expiration
          input#fieldExpiration(type='text', name='expiration')
      label(for='deletionFieldPassword') Password
        input#deletionFieldPassword(type='password', name='password')
      label(for='checkboxGlobal') Global
        input#checkboxGlobal(type='checkbox', name='global')
      input#deleteFormButton(type='submit', value='Delete', name='action')
      input#deleteJsButton(type='button', style='display: none;',
        onclick='deletePosts()', value='Delete')
      input#inputBan(type='submit', value='Ban', name='action')
      input#banJsButton(type='button', style='display: none;',
        onclick='banPosts()', value='Ban')
      input#reportFormButton(type='submit', value='Report', name='action')
      input#reportJsButton(type='button', style='display: none;',
        onclick='reportPosts()', value='Report')
