include variables

//-=Settings

//- Mixins
//------------------------------------------------------------
include baseMixins

//-=Layout
//------------------------------------------------------------
doctype html
html
  block html
    head
      block head
        meta(charset="utf-8")
        title 
          block title
        block styles
          for styleUrl in baseStylesUrls
            link(rel="stylesheet", href=styleUrl)
        block topScripts
          for scriptUrl in baseTopScriptsUrls
            script(src=scriptUrl)
    body
      block body
        #notFooter
          //-Header
          header#pageHeader
            block header
              #headerLogo
                block headerLogo
                  img#bannerImage(src=siteLogoUrl)
              h1#headerTitle
                block headerTitle
                  #{siteTitle}
              //-Menu
              nav#userMenu
                ul
                  +userMenuEntry
                    a(href='/account.js') #{l.guiAccount}
                  block userMenu
          #middle
            block middle
              block pageMenu
              //-Content
              section#content
                block content
        //-Footer
        footer#pageFooter
          block footer
            include footer
        block bottomScripts
          for scriptUrl in baseBottomScriptsUrls
            script(src=scriptUrl)
