include variables

//-=Settings
block pageId
  - var pageId = undefined

//- Mixins
//------------------------------------------------------------
include baseMixins

//-=Layout
//------------------------------------------------------------
doctype html
html
  block html
    //-HEAD============================================================
    head
      block head
        meta(charset='utf-8')
        title 
          block title
            +title('home')
        block styles
          for styleUrl in baseStylesUrls
            link(rel='stylesheet', href=styleUrl)
        block favicon
          +favicon()
      block topInlineScript
        script
          +pageIdDeclaration(pageId)
        block topScripts
          for scriptUrl in baseTopScriptsUrls
            script(src=scriptUrl)
        block preloads
          +preloads()
    //-BODY============================================================
    body(id=pageId)
      block body
        #notFooter
          //-Header______________________________
          header#pageHeader
            block header
              #headerLogo
                block headerLogo
                  img#bannerImage(src=siteLogoUrl)
              h1#headerTitle
                block headerTitle
                  a(href=baseUrl): span.mainTitle #{siteTitle}
              //-Menu______________________________
              nav#userMenu: ul
                +userMenuEntry
                  a(href='/account.js') #{l.guiAccount}
                block userMenu
          #middle
            block middle
              //-Content______________________________
              #contentWrapper
                //- eg.: pageId = 'board' -> section.content.boardContent
                section(class='content'+(pageId ? ' '+pageId+'Content' : ''))
                  nav#pageMenu: ul
                    block pageMenu
                  block content
        //-Footer______________________________
        footer#pageFooter
          block footer
            include footer
        block bottomScripts
          for scriptUrl in baseBottomScriptsUrls
            script(src=scriptUrl)
