//-=Mixins
//------------------------------------------------------------
//- Usage: +style('main.css')
mixin style(relativePath)
  link(rel='stylesheet', href=baseStaticUrl+'/css/'+relativePath)

//- Usage: +script('api.js')
mixin script(relativePath)
  script(src=baseStaticUrl+'/'+relativePath)

//- Format title automatically
//- Allows passing direct title(s) text or their id by CSS notation
mixin title(mainTitle, subTitle)
  if mainTitle && mainTitle.charAt(0) === '#'
    h1(id=mainTitle.slice(1))
  else
    h1= mainTitle
  if block
    block
  if subTitle && subTitle.charAt(0) === "#"
    p(id=subTitle.slice(1))
  else
    p= subTitle

mixin userMenuEntry()
  li
    block
