include variables

nav
  ul#pageFooterItems
    li: a(href=baseUrl)= siteTitle
        if siteLicense
          | ' - '#{siteLicense}
    li: a(href=helpPageUrl) #{l.titHelp}
    li: a(href=aboutPageUrl) #{l.titAbout}
