mixin postForm(options)
  - var actionFile      = '../../'+options.actionFile
  - var actionName      = options.actionName
  - var actionFunction  = options.actionFunction
  //- .postForm
  form(id=attributes.id, class=attributes.class+' postForm',
    method='post', action=actionFile, enctype='multipart/form-data')
    fieldset.author
      label(for="fieldName") Name:
        input#fieldName(type='text', name='name', placeholder='Name')
      label(for="fieldEmail") Email:
        input#fieldEmail(name='email', type='text', placeholder='Email')
      label(for="fieldPassword") Password:
        input#fieldPassword(name='password', type='password', placeholder='Password')
    fieldset.message
      label(for="fieldSubject") Subject:
        input#fieldSubject(type='text', name='subject', placeholder='Subject')
      label(for="fieldMessage") Message:
        textarea#fieldMessage(rows='8', cols='50', name='message',
        placeholder='...', required)
      label(for="files") Images:
        input#files(type='file', accept='image/*', multiple='', name='files')
      label(for='checkboxSpoiler') Spoiler
        input#checkboxSpoiler(type='checkbox', name='spoiler')
    fieldset.submit
      label(for="fieldCaptcha") Captcha:
        img(src='/captcha.js')
        input#fieldCaptcha(type='text', name='captcha', required)
      input#jsButton(type='button', onclick=actionFunction,
        value=actionName, style='display: none;')
      input#formButton(type='submit', value=actionName)
    block
