block variables
  - var postType = 'Reply';

block outer
  if postType == 'Op'
    | <div class="opWrapper">
  article(class='post'+(' post'+postType))
    header(class='postHeader'+(' post'+postType+'Header'))
      .postHeaderInner
        ul
          li.deletionCheckBoxWrap: input.deletionCheckBox(type='checkbox')
          li.linkPreviewWrap
            a.linkPreview.fa.fa-link(title=l.postHeader.directLinkLabel)
          li.labelSubject
          li: a.linkName
          li.labelRole
          li.spanId #{l.postHeader.threadWiseIDPrefix}:#[span.labelId]
          li.labelCreated
          block opIndicators
          li
            | #[a.linkSelf #{l.postHeader.postNumberPrefix}]#[a.linkQuote]
          li.panelRange #{l.guiIPRangeLabel}: #[span.labelRange]
          block linkReply
          a.linkEdit #{l.guiPostEdit}
      .postHeaderInnerAfter
    section.postContent
      .panelUploads
      //- Presentational element that prevents the text from being too narrow
      .messageWrap
        .textBumper 
        br.textBumperReturn
        p.divMessage
    .divBanMessage
    .labelLastEdit.fa.fa-pencil-square-o
  if postType == 'Op'
    | </div>
    .labelOmission
