mixin postForm(options)
  - var actionFile      = '../../'+options.actionFile
  - var actionName      = options.actionName == 'Reply' ? l.postForm.ReplyAction : l.postForm.CreateThreadAction;
  - var replyOrThread   = options.actionName == 'Reply' ? 'Reply' : 'Thread';
  - var actionFunction  = options.actionFunction
  //- .postForm
  h1 #{l.postForm['titNew'+replyOrThread]}
  form(id=attributes.id, class=attributes.class+' postForm',
    method='post', action=actionFile, enctype='multipart/form-data')
    fieldset#authorInfo
      #divName
        label(for="fieldName") #{l.postForm.Name}:
        input#fieldName(type='text', name='name',
            placeholder=l.postForm.phName)
      label(for="fieldEmail") #{l.postForm.Email}:
      input#fieldEmail(name='email', type='text',
          placeholder=l.postForm.phEmail)
      label(for="fieldPostingPassword") #{l.postForm.Password}:
      input#fieldPostingPassword(name='password', type='password',
          placeholder=l.postForm.phPassword)
    fieldset#messageArea
      label(for="fieldSubject") #{l.postForm.Subject}:
      input#fieldSubject(type='text', name='subject',
        placeholder=l.postForm.phSubject, autocomplete='off')
      label(for="fieldMessage") #{l.postForm.Message}
      textarea#fieldMessage(name='message', required)
      fieldset#messageFiles
        #filesWrapper
          label(for="files") #{l.postForm.Files}:
          input#files(type='file', accept='image/*', multiple='',
              name='files')
          small.info#filesInfo #{l.postForm.MaxFileSizeLabel}:
            | #[span#labelMaxFileSize] MB.
        #filesSpoiler
          label(for='checkboxSpoiler') #{l.postForm.Spoiler}
          input#checkboxSpoiler(type='checkbox', name='spoiler')
    fieldset#captchaDiv
        label(for='fieldCaptcha') #{l.postForm.Captcha}
        img#captchaImage(src='/captcha.js')
        input#fieldCaptcha(type='text', name='captcha', required,
            placeholder='......', autocomplete='off')
        button#reloadCaptchaButton(type='button',
            onclick='reloadCaptcha()', value=l.postForm.ReloadCaptcha,
            alt=l.postForm.ReloadCaptcha, style='display: none;')
          span.fa.fa-refresh
        small.info#noCookiesCaptchaLink
          a(href='/noCookieCaptcha.js', target='_blank')
            | #{l.postForm.NoCookiesCaptchaLink}
    fieldset#submit
      input.postSubmit.button.submit#jsButton(type='button',
          onclick=actionFunction, value=actionName, style='display: none;')
      input.postSubmit.button.submit#formButton(type='submit',
          value=actionName)
    block
