ul.banDetails
  li #{l.guiID}: #[span.idLabel]
  li #{l.guiBannedReason}: #[span.reasonLabel]
  li #{l.guiExpiration}: #[span.expirationLabel]
  li #{l.guiAppliedBy}: #[span.appliedByLabel]
  li #{l.guiBoards}: #[span.boardLabel]
fieldset.liftBan
  input.submit.liftFormButton(type='submit',
      value=l.guiLiftBanAction)
  input.submit.liftJsButton(type='button',
      value=l.guiLiftBanAction, style='display: none;')
  input.idIdentifier(type='hidden', name='banId')
