section.catalogThread(onclick='expandCatalogOp(event)')
  .catalogCellContent
    header.catalogCellHeader
      a.linkThumb(
          onmouseenter='catalogCellLinkHover(event)',
          onmouseleave='catalogCellLinkHover(event)')
      span.labelSubject
    .catalogMessageWrap
      p.divMessage
  footer.catalogThreadDetails
    span.labelReplies.fa.fa-comment-o-after
    span.labelImages.fa.fa-picture-o-after
    span.labelPage

    span.threadStatus.lockIndicator.fa.fa-lock(title=l.guiLockLabel)
    span.threadStatus.pinIndicator.fa.fa-thumb-tack(title=l.guiPinLabel)
    span.threadStatus.cyclicIndicator.fa.fa-refresh(title=l.guiCyclicLabel)
