| #{l.guiFilterOriginalTerm}: #[span.labelOriginal]
br
| #{l.guiFilterReplacementTerm}: #[span.labelReplacement]

input.boardIdentifier(type='hidden', name='boardUri')
input.filterIdentifier(type='hidden', name='filterIdentifier')
input.deleteFormButton(type='submit', value=l.guiDelete)
input.deleteJsButton(type='button', value=l.guiDelete,
    style='display: none;')
