table.logCell
  tr
    td #{l.logCell.Type}
    td #[span.labelType] #[span.indicatorGlobal *#{l.guiGlobalLabel}* ]
  tr
    td #{l.logCell.User}
    td #[span.labelUser]
  tr
    td #{l.logCell.Board}
    td #[span.labelBoard]
  tr
    td #{l.logCell.Time}
    td #[span.labelTime]
  tr
    td #{l.logCell.Description}
    td #[span.labelDescription]
